BIND_ADDRESS=REPLACE_WITH_PREVIEW_LAN_IP
PORT=8445
PREVIEW_MODE=publisher
PREVIEW_ROOT=/var/lib/mandala-previews
PUBLISHER_TLS_KEY=/etc/mandala/publisher.key
PUBLISHER_TLS_CERT=/etc/mandala/publisher.crt
PUBLISHER_CLIENT_CA=/etc/mandala/publisher-ca.crt
PUBLISHER_DEVICES_FILE=/etc/mandala/enrolled-publishers.json
